:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --main-font-size: 14px;
  --second-main-font-size: 16px;
  --section-title-font: 36px;
  --footer-small-text: rgba(255, 255, 255, 0.6);
  --additional-font: 'Raleway', sans-serif;
}
